# Car Purchasing Data Summary

The car purchasing data comes from Kaggle and, on the data, the goal is to build a predictive model for the total amount that customers are willing to pay for a new car. This model could help for direct marketing.

## Part 1: Formatting The Data Set

In [1]:
# Libraries:
import pandas as pd
import numpy as np

First, we import the data and check the column data types.

In [2]:
# Import the data set:
path = "../data/Car_Purchasing_Data.xls"
car_data = pd.read_csv(path)

In [3]:
# Check the data types:
car_data.dtypes

Customer Name           object
Customer e-mail         object
Country                 object
Gender                   int64
Age                      int64
Annual Salary          float64
Credit Card Debt       float64
Net Worth              float64
Car Purchase Amount    float64
dtype: object

Before using the coreset algorithm on this data set, we remove the customer name, e-mail, and country fields. We also make Gender a boolean data type.

In [4]:
#Remove the object data type columns:
car_data = car_data.iloc[:, 3:]

# Make Gender a boolean:
car_data.loc[:,"Gender"] = car_data.Gender.astype("bool")

In [5]:
# Check for missing values:
print(all(car_data.isna() == False))
print(all(car_data.isnull() == False))

True
True

There are no missing values in the data set.

In [6]:
car_data.shape

(500, 6)

The data set that will go through the algorithms has 500 observation with 6 variables. The predictor variables include customer gender, age, annual salary, credit card debt, and networth. The response variable is car purchase amount.

# Part 2: Descriptive Statistics

In this section, we provided a "concise" overview of the data. First, we identify some summary statistics for each variable. The table below contains the counts, mean, standard deviation, percentiles, min, and max for each variable.

In [7]:
car_data.describe().apply(lambda s: s.apply(lambda x: format(x, 'g')))

           Age Annual Salary Credit Card Debt Net Worth Car Purchase Amount
count      500           500              500       500                 500
mean    46.224       62127.2          9607.65    431476             44209.8
std    7.99034       11703.4          3489.19    173537             10773.2
min         20         20000              100     20000                9000
25%         41         54392          7397.52    299824             37629.9
50%         46       62915.5          9655.04    426750             43997.8
75%         52       70117.9          11798.9    557324             51254.7
max         70        100000            20000     1e+06               80000

Some interesting details are....